

/* Page layout */
.ms-welcome__header {
    padding: 20px;
    background-color: #f3f2f1;
  }
  
  .ms-welcome__main {
    padding: 20px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
  }
  
  